.productScreen {
  max-width: 1220px;
  margin: 1rem auto;
  display: flex;
}
.productScreen__left {
  display: flex;
  flex: 0.8;
}
.left__image {
  margin: 1rem;
  flex: 0.6;
}
.left__info {
  margin: 1rem;
  flex: 0.4;
  background: white;
  height: fit-content;
  font-size: 0.9rem;
}
.left__name {
  font-weight: bold;
  font-size: 1.3rem;
}
.left__info > p,
.right__info > p {
  padding: 1rem;
  border-bottom: 1px sold rgba(0, 0, 0, 0.3);
}
.left__info > p:last-child,
.right__info > p:last-child {
  border: none;
}
.productScreen__right {
  flex: 0.2;
}
.productScreen__right {
  width: 250px;
  margin: 1rem;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.right__info p {
  padding: 1rem;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.right__info p > button {
  grid-column: 1/-1;
  padding: 10px 16px;
  background-color: #171717;
  color: #f4f4f4;
  border: 1px solid white;
  border-radius: 8px;
}
.right__info select {
  padding: 10px 16px;
}
@media (max-width: 900px) {
  .productScreen {
    flex-direction: column;
  }
  .productScreen__left {
    flex-direction: column;
    flex: 1;
  }
  .left__image {
    flex: 1;
  }
  .left__info {
    flex: 1;
  }
  .productScreen__right {
    flex: 1;
    padding: 1rem;
  }
  .right__info {
    width: 100%;
    margin: 0;
  }
}
