.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  height: 65px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
  /* position: fixed;
  top: 0; */
}
.navbar__logo h3 {
  color: rgb(40, 176, 255);
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: bold;
}
.navbar__links,
.navbar__ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__ul li {
  list-style-type: none;
  margin: 0px 8px 0px 8px;
}
.navbar__ul li a {
  color: white;
  text-decoration: none;
  background-color: rgb(40, 176, 255);
  border-radius: 8px;
  padding: 10px 22px;
  position: relative;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
.cartLi a:hover {
  background: rgb(22, 158, 106);
}
.navbar__ul li a i {
  margin-left: 5px;
  transform: scale(1.6);
}
.navbar__ul li a .cartLogo__counter {
  /* margin-left: 5px; */
  /* padding: 2px; */
  border-radius: 50%;
  background-color: white;
  color: black;
  position: absolute;
  height: 18px;
  width: 18px;
  top: 3px;
  right: 12px;
  font-size: 12px;
  background-color: red;
  color: white;
  font-weight: bold;
}
.activeLink {
  color: red;
}
.hamburger {
  height: 25px;
  width: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger div {
  background-color: rgb(40, 176, 255);
  color: black;
  width: 100%;
  height: 5px;
  cursor: pointer;
}
.hamburger:hover div {
  background: rgb(22, 158, 106);
}
.activeLink {
  background: red;
}
@media (max-width: 950px) {
  .navbar__links {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}
@media (max-width: 550px) {
  .navbar__logo h3 {
    font-size: 1rem;
  }
}
